@page "/refer-friend"

<PageTitle>@ClientTitleModel.ReferFriendTitle</PageTitle>

<main>
    <!-- Top Back Panel start -->
    <div class="position-fixed top-0 start-0 end-0 container">
        <div class="back-panel d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-start">
                <a onclick="backButton()" class="back"><img src="images/back-arrow.svg" class="img-fluid" alt="Back"></a>
                <h1>Refer Friend</h1>
            </div>
        </div>
    </div>
    <!-- Top Back Panel end -->
    <!-- Refer Friend start -->
    <section class="login-details refer-frd-code-text common-padding position-relative overflow-x-hidden min-vh-100 justify-content-start xs-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9 col-lg-6 mx-auto">
                    <div class="refer-friend-section">
                        <img src="images/refer-friend.svg" class="img-fluid referfriend-img" alt="Refer Friend">
                    </div>

                    <form class="refer-friend-row d-flex">
                        <div class="form-group m-0">
                            <label for="fname" class="form-label">Referal Code</label>
                            <input disabled type="text" class="form-control bg-dark" id="myInput" value="@referalDataResponse.ReferralCode">
                        </div>
                        <button class="btn btn-refercode" type="button" @onclick="() => CopyText()"><img src="images/copy-icon.svg" class="img-fluid" alt="Copy"></button>
                        <a class="btn btn-refercode" href="mailto:azara@gmail.com?subject= Hey this is my refferal code for Azara&body=Please use this @referalDataResponse.ReferralCode code">
                            <img src="images/email-refer.svg" class="img-fluid" alt="Share">
                        </a>
                        <a class="btn btn-refercode" href="https://www.facebook.com/sharer/sharer.php?u=https://azaraclient-production.azurewebsites.net/" target="_blank">
                            <img src="images/facebook-refer.svg" class="img-fluid" alt="Share">
                        </a>

                    </form>

                    <p class="mb-3">share this code with a friend, you will both receive 50 bonus rewards points</p>
                    <!-- row -->
                    <!-- col -->
                </div>
                <!-- row -->
            </div>

            <!-- background Circle Shape start -->
            <img src="images/bg-half-circle.svg" class="img-fluid bg-left-circle position-absolute bottom-0 start-0" alt="Circle">
            <img src="images/bg-half-circle.svg" class="img-fluid bg-right-circle position-absolute bottom-0 end-0" alt="Circle">
            <!-- background Circle Shape end -->
        </div>
    </section>
    <!-- Refer Friend end -->
</main>
<!--******************* Middle Section End ******************-->
@if (Loader == true)
{
       <!-- Preloader Start -->
  <div id="preloader">
    <div class="main-container">
      <!-- Circle animation img start -->
      <img src="./images/Azara_Pattern_Animation.svg" class="loader-circle img-fluid">
      <!-- Circle animation img end -->
  
      <!-- Azara logo start -->
      <div class="center-logo">
        <img src="images/azara-logo.svg" class="img-fluid logo" alt="Azara Logo">
      </div>
      <!-- Azara logo end -->
    </div>
  </div>
  <!-- Preloader End -->
}

@code {
    string token, UserId;
    string MailSubject = "Refeeral code";
    bool Loader = true;
    StringIdERequest request = new StringIdERequest();
    ReferalDataResponse referalDataResponse = new ReferalDataResponse();

    protected override async Task OnInitializedAsync()
    {
        token = await localStorage.GetItemAsync<string>("token");
        UserId = await localStorage.GetItemAsync<string>("userId");
        TokenResponse.Token = token;
        if (token != null && token != string.Empty && token == TokenResponse.Token)
        {
            await GetreferalData();
            Loader = false;
        }
        else
        {
            await localStorage.ClearAsync();
            NavManager.NavigateTo("https://www.facebook.com/sharer/sharer.php?u=https://www.youtube.com/");
        }
        StateHasChanged();
    }

    #region Get Profile
    internal async Task GetreferalData()
    {
        request.Id = UserId;
        var result = await AccountHelpers.GetReferalDataApi(request);
        if (result.meta.statusCode == StatusCodeConsts.UnAuthorized)
        {
            await localStorage.SetItemAsync("token", string.Empty);
            NavManager.NavigateTo("/");
        }
        else
        {
            if (result.meta.statusCode == StatusCodeConsts.Success)
            {
                referalDataResponse = JsonConvert.DeserializeObject<ReferalDataResponse>(result.data);
            }
            else
                await JsRuntime.InvokeVoidAsync("ShowToastr", "error", "Something was wrong!");
        }
        StateHasChanged();
    }
    #endregion


    internal async Task CopyText()
    {
        await JsRuntime.InvokeVoidAsync("CopyText");
    }

    internal async Task Linkshare()
    {
        NavManager.NavigateTo("/");
        StateHasChanged();

    }
}
