@inherits LayoutComponentBase


<!-- Preloader Start -->
  <div id="preloader">
    <div class="main-container">
      <div class="main">
        <div class="circle-1"></div>
        <div class="circle-2">
          <div class="icon-block">
            <img src="images/gift.svg" class="img-fluid icon-animation gift" alt="Gift">
          </div>
          <div class="icon-block">
            <img src="images/award.svg" class="img-fluid icon-animation award" alt="Award">
          </div>
        </div>
        <div class="circle-3">
          <div class="icon-block">
            <img src="images/dollar.svg" class="img-fluid icon-animation dollar" alt="Dollar">
          </div>
          <div class="icon-block">
            <img src="images/discount.svg" class="img-fluid icon-animation discount" alt="Discount">
          </div>
        </div>
        <div class="circle-4"></div>
        <div class="center-logo">
          <img src="images/azara-logo.svg" class="img-fluid logo" alt="Azara Logo">
        </div>
      </div>
    </div>
  </div>
  <!-- Preloader End -->

@code {

}
