@page "/no-data-found"

@layout LoginLayout

<main>


    <!--******************* Middle Section Start ******************-->

    <!-- Tabs start -->
    <section class=" py-5 position-relative d-flex align-items-center justify-content-center">
      <div class="no-data-found text-center">
        <img src="images/no-data-found.svg" class="img-fluid" alt="No Data Found">
        <h2>Oppps...</h2>
        <h4>No Data Found please try again</h4>
      </div>
    </section>
    <!-- Tabs end -->
  </main>

@code {

}
