@using azara.client.Models.Chat.Response
@using Microsoft.AspNetCore.SignalR.Client

@inherits LayoutComponentBase

<!-- Footer Navigation start -->
<footer class="position-fixed bottom-0 start-0 end-0 container">
    <ul class="nav nav-pills footer-navigation-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link" href="index" id="index">
                <img src="images/home-footer.svg" class="img-fluid" alt="Home">
                <span>home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="shop" id="shop">
                <img src="images/shop-footer.svg" class="img-fluid" alt="Shop">
                <span>Shop</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="store" id="store">
                <img src="images/store-footer.svg" class="img-fluid" alt="Store">
                <span>My Store</span>
            </a>
        </li>
    </ul>
</footer>
<!-- Footer Navigation end -->
@code {


    
}
