@inherits LayoutComponentBase

<PageTitle>:: Azara Admin ::</PageTitle>

<main>
    <div class="main-pages d-flex">
        <SideNavMenu></SideNavMenu>
        <section class="main-content-right">
            @Body
        </section>
    </div>
</main>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("MainMenuTabActive");
    }
}