@page "/not-found"
@layout WithoutSideNavMenu

<div class="not-found-page w-100 d-flex align-item-center justify-content-center">
    <div class="container text-center">
        <h1>404</h1>
        <p>Some thing went wrong!</p>
        <div class="add-btn">
            <a href="/">Back to home page</a>
        </div>
    </div>
</div>
