@page "/about-us"

@layout LoginLayout
@inject IJSRuntime JsRuntime
<PageTitle>@ClientTitleModel.AboutUsTitle</PageTitle>


@if (Loader == true)
{
   <!-- Preloader Start -->
  <div id="preloader">
    <div class="main-container">
      <!-- Circle animation img start -->
      <img src="./images/Azara_Pattern_Animation.svg" class="loader-circle img-fluid">
      <!-- Circle animation img end -->
  
      <!-- Azara logo start -->
      <div class="center-logo">
        <img src="images/azara-logo.svg" class="img-fluid logo" alt="Azara Logo">
      </div>
      <!-- Azara logo end -->
    </div>
  </div>
  <!-- Preloader End -->
}
else
{
    <!--******************* Middle Section Start ******************-->
    <main>
        <!-- Top Back Panel start -->
        <div class="position-fixed top-0 start-0 end-0 container">
            <div class="back-panel d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center justify-content-start">
                    <a onclick="backButton()" class="back"><img src="images/back-arrow.svg" class="img-fluid" alt="Back"></a>
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
        <!-- Top Back Panel end -->
        <!-- About Us start -->
        <section class="common-padding position-relative xs-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <div class="about-us-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet sagittis lobortis ac ipsum mauris bibendum. Scelerisque ipsum, non cursus lacinia rhoncus. Nulla feugiat ultricies consectetur suspendisse. Mauris, sit hac non vitae dolor feugiat sit. Felis sagittis, quam semper sem adipiscing pulvinar. Sodales adipiscing imperdiet auctor tempor.</p>
                            <div class="about-img">
                                <img src="images/about-us-01.jpg" class="img-fluid" alt="About Us">
                            </div>
                            <p>Quis sem congue iaculis pellentesque maecenas nibh. Egestas volutpat pharetra scelerisque auctor nam. Libero faucibus placerat egestas tortor venenatis.</p>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut lectus amet, arcu dictum.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut lectus amet, arcu dictum.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut lectus amet, arcu dictum.</li>
                            </ul>
                            <div class="about-img">
                                <img src="images/about-us-02.jpg" class="img-fluid" alt="About Us">
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet sagittis lobortis ac ipsum mauris bibendum. Scelerisque ipsum, non cursus lacinia rhoncus.</p>
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut lectus amet, arcu dictum.</li>
                            </ul>
                        </div>
                    </div>
                    <!-- col -->
                </div>
                <!-- row -->
            </div>
        </section>
        <!-- About Us end -->
    </main>
    <!--******************* Middle Section End ******************-->
}
@code {
    
    #region Declrations
    bool Loader = true;
    #endregion


    protected override async Task OnInitializedAsync()
    {
            await JsRuntime.InvokeVoidAsync("Remove");
            Loader = false;
    }
}