@page "/tandc"

@layout LoginLayout

<main>
    <!-- Top Back Panel start -->
    <div class="position-fixed top-0 start-0 end-0 container">
        <div class="back-panel d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-start">
                <a onclick="backButton()" class="back"><img src="images/back-arrow.svg" class="img-fluid" alt="Back"></a>
                <h1>
                    Terms & Conditions
                </h1>
            </div>
        </div>
    </div>
    <!-- Top Back Panel end -->
    <!-- Terms & Conditions start -->
    <section class="terms-condt-details common-padding position-relative xs-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 mx-auto">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet enim velit nec at. Pellentesque urna, sed et euismod morbi sodales senectus. Aliquam dolor mi id libero, justo, integer tempus. Ut nunc suspendisse dictumst interdum sagittis sed.</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut lectus amet, arcu dictum.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut lectus amet, arcu dictum.</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut lectus amet, arcu dictum.</li>
                    </ul>

                    <h2>Lorem ipsum dolor</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra mauris et enim sit. Lobortis orci, amet commodo pharetra, sagittis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra mauris et enim sit. Lobortis orci, amet commodo pharetra, sagittis.</p>

                    <h2>Lorem ipsum dolor</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra mauris et enim sit. Lobortis orci, amet commodo pharetra, sagittis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra mauris et enim sit. Lobortis orci, amet commodo pharetra, sagittis.</p>
                </div>
                <!-- col -->
            </div>
            <!-- row -->
        </div>
    </section>
    <!-- Terms & Conditions end -->
</main>


@code {

}
